.navbar{
    background-color: black;
    padding-right: 30px;
}
.q3{
    width: 160px;
}
.bi{
    color: white;
}
.q9{
    
    color: black;
}
.q5{
    padding: 3px;
    background-color: yellow;
}
.q7{
    margin-right: 35px;
}
.q6{
    margin-right: 25px;
}
.q4{
    margin-right: 25px;
}
.w1{
    background-image: url(https://www.pubgmobile.com/images/event/Nether-Phantom-QBZ/bg_1.jpg);
}
.w4{
    color: white;
    margin-left: -22px;
    margin-top: 10px;

    

}
.w5{
    color: white;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 8px;
    
}
.w2{
    padding: 10px 25px 17px 25px;
    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 300px;
    
}
.w11{
    color: #AAC148;
    margin-left: -22px;
    margin-top: 10px;
}