.navbar{
    background-color: black;
    padding-right: 30px;
}
.q3{
    width: 160px;
}
.bi{
    color: white;
}
.q9{
    
    color: black;
}
.q5{
    padding: 3px;
    background-color: yellow;
}
.q7{
    margin-right: 35px;
}
.q6{
    margin-right: 25px;
}
.q4{
    margin-right: 25px;
}
.w1{
    background-image: url(https://www.pubgmobile.com/images/event/Nether-Phantom-QBZ/bg_1.jpg);
}
.w4{
    color: white;

}
.w5{
    color: white;
    font-weight: 700;
}