.navbar{
    background-color: black;
    padding-right: 30px;
}
.q3{
    width: 160px;
}
.bi{
    color: white;
}
.q9{
    
    color: black;
}
.q5{
    padding: 3px;
    background-color: yellow;
}
.q7{
    margin-right: 25px;
}